<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathBitacora" value="/Ruta/"  />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Practicas2026;Persist Security Info=True;User ID=practicas2026;Password=1234" />
  </connectionStrings>
</configuration>